@{
    ViewData["Title"] = "About";
}

<p>Rental Kendaraan adalah situs web yang memiliki pelayanan terbaik dan harga terjangkau. Rental Kendaraan juga  memiliki fasilitas yang nyaman dan terbaik.</p>
