@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <p>Jika terjadi masalah, bisa contact/DM instagram kami : <a href="https://www.instagram.com/yahyaluqman_/">yahyaluqman_</a></p>
</div>